section.products{
    margin-top: 60px;

    .product-bounds{
        padding: 0 60px 0 60px;

        img.products-image{
            width: 100%;
        }
    }
    
}

@media (max-width: 750px) {
    section.products{
        margin-top: 30px;
    
        .product-bounds{
            padding: 0 30px 0 30px;

        }
        
    }
}